[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
neapolitan = "*"
django-template-partials = "*"
pytz = "*"
python-slugify = "*"
argon2-cffi = "*"
whitenoise = "*"
redis = ">=5"
hiredis = "*"
uvicorn = "*"
channels = ">=4"
django-environ = "*"
django-model-utils = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-redis = ">=5"
django-crum = "*"
django-treebeard = "*"
django-debug-toolbar = "*"
django-extensions = "*"
gunicorn = "*"
Pillow = "*"
Twisted = "*"
Django = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.13"

[pipenv]
allow_prereleases = true
